* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #f7f7f7;
    height:100%;
    overflow-x: hidden;
}
:root{
    --bg_almond: #EAD8C2;
    --bg_lightTaupe:  #AE866C;
    --bg_pearl: #E3DDC5;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #717171;
    background-color: transparent;
}
a {
    color: #2e3e4e;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #964B00;
    text-decoration: none;
}

/*Navigation Bar*/
.navHead{
    position: relative;
    background-color:var(--bg_almond);
    padding: 0;
    height:60px;
}
.navbar-header{
    position: relative;
    float: none;
}
.navbar-header .navbarName{
    right: 0;
    top: 0;
    left: auto;
}
.navbarName{
    float: none;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    font-weight: bold;
}
.navbarName:hover{
    text-decoration: none;
}
.navbarName img{
    max-height: 40px;
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 0;
}
.logo{
    margin-right: 10;
}
/*Profile*/
.user{
   position: relative;
    cursor: pointer;
    overflow: hidden;
}
.user img{
    float: right;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    top:0;
    margin-right: 10px;
}
.action {
    position: absolute;
    right: 30px;
    top: 10px
}

.action .userMenu ul li{
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    font-weight: bold;
    justify-content: center;
    list-style: none;
    padding: 10px 0px;
    z-index: 1;
}
.action .userMenu {
    background-color: var(--bg_lightTaupe);
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    width: 100px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}
.action .userMenu.active {
    opacity: 1;
    top: 60px;
    visibility: visible;
    z-index: 1;
}
.action .userMenu::after {
    background-color: var(--bg_lightTaupe);
    content: '';
    height: 20px;
    position: absolute;
    right: 22px;
    transform: rotate(45deg);
    top: -5px;
    width: 20px;
}
.action .userMenu ul li:hover a {
    color: white;
}
/* End Navigation Bar*/

/*Aside Navigation*/
aside{
    display: inline-block
}
.wrapper .navigation{
    position:relative;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background-color: var(--bg_lightTaupe);
}
.navigation{
    float: right;
}
/* Switch Theme */
.switchContainer{
    position: absolute;
    height:50px;
    width:50px;
    top:93vh;
    bottom:0;
    background-color: lavenderblush;
}
.switch i{
    display:flex;
    justify-content: center;
    padding: 10px;
    margin:10px;
    font-size: 20px;
    cursor:pointer;
}


/*form*/
.diaryName{
    display: flex;
    margin-top: 0;
    text-align: center;
    justify-content: center;
}
.contentWrapper{
    position: relative;
    padding: 15px;
}
.contentWrapper h4 {
    color: #ffffff;
}
.formControl{
    border: 2px solid var(--bg_almond);
    outline-color: #FFFFE0;
    border-radius: 10px;
    padding:2px;
    
}
.formGroup{
    padding-top: 10px;
    padding-left: 30px;
}
.formGroup label{
    color: #ffffff;
}
.formGroup > textarea{
    margin-top: 10px;
}
.formGroup > .inputTitle{
    margin-top: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.saveBtn{
    color: #000000!important;
    background-color: #E3DDC5;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px; 
}
.saveBtn:hover{
    background-color: #95bb72 ;
    color: #ffffff !important;
}
.inputTitle{
    margin-bottom: 10px;
    width: 200px;
}
.inputDetails{
    width: 200px;
}

/*Diary Details*/
.navigation2{
    width:400px;
    height:100vh;
    left: 0px;
    background-color: var(--bg_pearl);
    float: left;
   
}
.contentDiary{
    padding: 30px 20px;
    border-bottom: 1px solid black;
}

